//Colors
$orange-main: #CD6326;
$orange-light: #E39128;
$orange-dark: #8F5613;
$font-light: #F7F7F7;
$font-grey: #666666;
$font-dark: #333333;
$background-grey: #CCCCCC;
$background-dark: #02160b;

//Screen width
$content-width: 1200px;
$screen-width: 1440px;