@mixin font ($size, $height, $weight: 400, $style: normal, $spacing: 0, $align: center) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
  text-align: $align;
}