.main-picture-background {
  background-color: $background-dark;
  background-image: url("img/backgrounds/background-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.grey-background {
  background-color: $background-grey;
}
