.main-picture-background {
  background-image: url("https://i.postimg.cc/nLNNdnDy/background-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $background-dark;
  height: 100vh;
}
.grey-background {
  background-color: $background-grey;
}
