.button {
  @extend %font-secondary;
  @include font($size: 2.3rem, $height: 2.7rem,);
  cursor: pointer;
  border-radius: 5px;
  @extend %transition;

  &__bordered {
    border: 2px solid $orange-main;
    background: none;
    color: $font-light;
    padding: 9px 25px 10px 25px;
    &:hover {
      background-color: $orange-main;
    }
    &:active {
      background-color: $orange-dark;
    }
  }

  &__colored {
    background-color: $orange-main;
    color: $font-light;
    border: none;
    padding: 17px 43px;
    &:hover {
      background-color: $orange-light;
    }
    &:active {
      background-color: $orange-dark;
    }
  }
}
